@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,900;1,400;1,900&display=swap');

h2,h3 {
    margin: 2rem 0rem 0rem 2rem;
    font-family: 'Roboto', sans-serif;
    color: white;
}

h2 {
    font-weight: 900;
    font-style: italic;
    font-size: 3rem;

}

h3 {
    margin-top: 1px solid black;
    font-weight: 400;
    margin-top: 2rem;
    margin-bottom: 6rem;
    max-width: 40%;

}

h4 {
    padding-top: 0.4rem;
    color: white;
    font-family: 'Roboto', sans-serif;

}


.background-home{
    background-image: url(./img/background-buying.jpg);
    background-size:cover;

}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: white;
    margin: 2rem 2rem;
    border-radius: 4px;

}

.background-description{
    background-color: rgb(81, 81, 81);


}