/* Import Google Font: Montserrat & Work Sans */
/*More info: https://fonts.google.com/specimen/Montserrat*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.col-card{
    margin-bottom: 1rem;
}

.col-card__title{
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 0;
}

.col-card__span{
    font-family: 'Work Sans', sans-serif;
    cursor: pointer;
    margin-right: 0.2rem;
}

.col-card__span:hover{
    color: #4a96ff;
}

.col-card__span:hover::after{
    content: " 🔎";
}