@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

.bg-light {
    background-color: rgb(159, 58, 75)!important;

}

a.navbar-brand {
    color: aliceblue!important;
    font-family: 'Dela Gothic One', cursive;
}

.btn-outline-success {
    color: rgb(53, 33, 33);
    border-color: rgb(53, 33, 33);
}

.btn-outline-success:hover {
    color: rgb(53, 33, 33);;
    background-color: rgb(241, 224, 224)!important;
    border-color: rgb(53, 33, 33);;
}

.cart-widget {
    width: 2rem;
}
